@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(56, 59, 59);
}

h2 {
    color: white;
    font-family: "poetsen one";
    font-weight:400 ;
}

p {
    color: white;
    font-family: "roboto";
}
.partition{
    border:2px solid rgb(0, 196, 196);
    border-radius: 15px;
    margin-bottom: 5px;
}
