body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    background-color: white;
}
main {
    padding: 0 2%;
    min-height: 20rem;
}
h1{
    background-image: linear-gradient(rgb(136, 0, 0), rgb(46, 0, 0));
    height: 75px;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.wf1 fieldset{
    margin: 2rem 0;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}
.wf1 legend{
    color: blue;
    padding: 0 .5rem;
}
.wf1 label{
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}
.wf1 div{
    padding-top: 1rem;
    color: blue;
    font-size: .9rem;
}
.wf1 input [type="text"],
.wf1 input [type="date"],
.wf1 select{
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}
.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin-right: 6px;
}
.submitbutton{
    display: flex;
    align-items: center;
}
.wf1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(rgb(136, 0, 0), rgb(46, 0, 0));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 300px;
    margin: auto;
    box-shadow: 1px 1 px 4px #999;
}
.star-rating {
    display: flex;
    align-items: center;
    width: 220px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
  }
  .star-rating input {
    display: none;
  }
  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 50px;
    transition: 0.2s ease;
    color: black;
  }
  .star-rating label:hover {
    color: orange;
    transition: 0.2s ease;
  }
  .star-rating label:active::before {
    transform:scale(1.1);
  }
  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }
  .star-rating input:checked ~ label:before {
    content:'\2605';
  }
  footer{
    background-image: linear-gradient(rgb(136, 0, 0), rgb(46, 0, 0));
    height: 75px;
    color: white;
    text-align: center;
    border-radius: 10px;
    }