@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bg-color: aqua;
    --secondary-bg-color: rgb(245, 214, 174);
    --text-color: black;
}


footer{
    background-color: var(--main-bg-color);
    height: 75px;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 1000px) {
    header{
        display: grid;
        grid-template-columns: 1fr;
    }
    h1{
        width:100%;
        text-align: center;
        font-size: 144px;
        font-family: "Jaro", sans-serif;
        font-weight: 100;
        margin: 0px;
        background-color: var(--main-bg-color);
    }
    #heroimage{
        width: 100%;
        grid-column: 1;
        align-self: center;
    }

    .datatable{
        display: grid;
        grid-template-columns: 1fr 1fr;

        font-family: "Roboto", sans-serif;
        background-color: var(--secondary-bg-color);
        border: 3px solid white;
        border-top: 6px solid white;
    }
    .weathertable{
        display: grid;
        grid-template-columns: 1fr 1fr;

        font-family: "Roboto", sans-serif;
        background-color: rgb(245, 214, 174);
        border: 3px solid white;
        
    }
    .infotype{
        grid-column: 1/3;
        width:100%;
        font-size: 44px;
        font-weight: 200;
        text-align: center;
        font-family: "Jaro", sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .datafield{
        grid-column:1/2;
        text-align: right;
        margin-right: 5px;
    }
    .datainfo{
        grid-column:2/3;
        margin-left: 5px;
    }

    .weatheremoji{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/3;
        max-width: 100%;
        
    }
    .emoji{
        grid-column: 1;
        width: 100%;
        max-width: 140px;
        justify-self: center;
    }

}


@media screen and (min-width: 1000px) {
    body{
        margin: 20px;
    }
    header{
        display: grid;
        grid-template-columns: 1fr;
    }
    h1{
        width:100%;
        text-align: center;
        font-size: 144px;
        font-family: "Jaro", sans-serif;
        font-weight: 100;
        margin: 0px;
        background-color: var(--main-bg-color);
    }
    #heroimage{
        width: 100%;
        max-width: 100%;
        grid-column: 1;
        align-self: center;
    }
    .section1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .datatable{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 210px;
        height: 400px;
        margin-top: -800px;
        font-family: "Roboto", sans-serif;
        background-color: var(--secondary-bg-color);
        border-radius: 4px;
        border-left: 10px;
        margin-left: 20px;
    }
    .weathertable{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 7/8;

        width: 310px;
        height: 300px;
        margin-top: -400px;
        margin-right: 20px;
        font-family: "Roboto", sans-serif;
        background-color: var(--secondary-bg-color);
        border-radius: 4px;
    }
    .datafield{
        grid-column:1/2;
        text-align: right;
        margin-right: 5px;
    }
    .datainfo{
        grid-column:2/3;
        margin-left: 5px;
    }
    .infotype{
        grid-column: 1/2;
        width:100%;
        height: 100px;
        background-color: var(--main-bg-color);
        font-size: 44px;
        font-weight: 200;
        text-align: left;
        font-family: "Jaro", sans-serif;
        margin-top: 10px;
        margin-bottom: 0px;
        border-radius: 3px;
        margin-left: -10px;
        padding: 5px;
        
    }
    .datafield{
        grid-column:1/2;
        text-align: right;
        margin-right: 5px;
    }
    .datainfo{
        grid-column:2/3;
        margin-left: 5px;
    }
    .weatheremoji{
        display: grid;
        
        grid-template-columns: 1fr;
        grid-column: 2/3;
        grid-row: 1/2;
        max-width: 100%;
        height: 100px;
        
    }
    .emoji{

        max-width: 100px;
        justify-self: center;
    }
    .weatheremoji::after {
        content: url('images/cloud.svg');
        display: block;
        margin-top: 10px; /* Adjust as needed */
    }

    footer{
        background-color: var(--main-bg-color);
        height: 75px;
        text-align: center;
        padding: 10px;
    }
}