h1{
    background-image: linear-gradient(rgb(136, 0, 0), rgb(46, 0, 0));
    height: 7rem;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
main{
    text-align: center;
    font-size: 1.5rem;
}
.return {
    margin-top: 20px; 
}
.return a {
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(136, 0, 0), rgb(46, 0, 0));
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.return a:hover {
    background-image: linear-gradient(rgb(179, 122, 0), rgb(88, 72, 0));
}