@media screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

@media (min-width: 1050px) {
	header {
		display: flex;
		align-items: center;
	justify-content: space-between;
	}
	
	nav {
		justify-content: flex-end;
		flex-direction: row;
        position:relative;
	}
	nav a {
        display: block;
		flex: 1 1 100%;
	}
    .hamburger {
        display: none;
    }
}








.image {
    width: 100%; /* Ensure images fill their grid cell */
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain aspect ratio */
}

/* Adjust layout for narrower screens */
@media screen and (max-width: 900px) {
    main {
        grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Change to 2 columns when viewport width is less than 900px */
    }
}

/* Further adjust layout for even narrower screens */
@media screen and (max-width: 600px) {
    main {
        grid-template-columns: repeat(1, minmax(200px, 1fr)); /* Change to 1 column when viewport width is less than 600px */
    }
}

/* Adjust image size for narrower screens */
@media screen and (max-width: 900px) {
    .image {
        max-width: calc(50% - 10px); /* Reduce image size for 2-column layout */
    }
}

/* Further adjust image size for even narrower screens */
@media screen and (max-width: 600px) {
    .image {
        max-width: calc(100% - 10px); /* Reduce image size for 1-column layout */
    }
}
