@media screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

@media (min-width: 1050px) {
	header {
		display: flex;
		align-items: center;
	justify-content: space-between;
	}
	
	nav {
		justify-content: flex-end;
		flex-direction: row;
        position:relative;
	}
	nav a {
        display: block;
		flex: 1 1 100%;
	}
    .hamburger {
        display: none;
    }
}

